//
// variable-catalog.less
//

body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: white;
}

[variable-catalog] {
	margin: 10px 2px;
	min-height: 20px;
	width: auto;
	min-width: 200px;
}

li {
	list-style-type: none;
}

li > a {
	color: black;
	text-decoration: none;
}

li > a:hover {
	color: #009;
}

li:before {
	content: "›";
	color: #999;
	font-size: 30px;
	height: 30px;
	width: 30px;
	line-height: 20px;
	display: inline-block;
	text-align: center;
	overflow: hidden;
	position: relative;
	top: 10px;
}

li > ul {
	display: none;
}

li.open > ul {
	display: block;
	-webkit-transition: all .5s;
	transition: all .5s;
}

li.open:before {
	content: "⌄";
	font-size: 45px;
}

hr {
	width: 100%;
	clear: both;
	border-color: #ccc;
}

.spots {
	width: 200px;
	text-align: center;
	padding: 20px;
}

.spot {
	height: 25px;
	width: 25px;
	display: inline-block;
	border-radius: 50%;
	margin: 0 5px;
}

.spot:nth-child(1) {
	background-color: #732082;
}

.spot:nth-child(2) {
	background-color: #0062a6;
}

.spot:nth-child(3) {
	background-color: #008065;
}

// MEDIAQUERIES
@media print {
}
